
#flyer1 {
    /* Style for "flyer (2)" */
    width: 194px !important;
    height: 84px;
}

#title {
    /* Style for "Vos flyers" */
    width: 560px !important;
    height: 18px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Vos flyers" */
    letter-spacing: 0.09px;
}

#eclipse {
    /* Style for "Ellipse 4" */
    width: 7px;
    height: 7px;
    background-color: #97c215;
    border-radius: 20px;
}

#tick {
    /* Style for "tick (4)" */
    width: 24px;
    height: 15px;
}

#form {
    margin-right: 20px;
    margin-left: 20px;
}

#form select {
    /* Style for "Rounded Re" */
    width: 683px;
    height: 51px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    background-color: #fdfdfd;
}

#btn_insert2 {
    /* Style for "Rounded Re" */
    width: 207px;
    height: 58px;
    border-radius: 3px;
    background-color: #222d32;
    color: white;
}

.btntext {
    /* Style for "Connexion" */
    width: 125px;
    height: 16px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    /* Text style for "Connexion" */
    letter-spacing: 0.1px;
}