

#title {
    /* Style for "Vos flyers" */
    width: 560px !important;
    height: 18px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Vos flyers" */
    letter-spacing: 0.09px;
}

#eclipse {
    /* Style for "Ellipse 4" */
    width: 7px;
    height: 7px;
    background-color: #97c215;
    border-radius: 20px;
}

#tick {
    /* Style for "tick (4)" */
    width: 24px;
    height: 15px;
}

#form {
    margin-left: 40px;
}

#form select {
    /* Style for "Rounded Re" */
    width: 683px;
    height: 51px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    background-color: #fdfdfd;

}

hr {
    /* Style for "Shape 2" */
    width: 600px;
    height: 0.5px;
    background-color: #919191;
}

#validation {
    /* Style for "Rounded Re" */
    width: 207px;
    height: 58px;
    border-radius: 3px;
    background-color: #222d32;
    /* Style for "Valider" */
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    /* Text style for "Valider" */
    letter-spacing: 0.09px;
}

.btnmodal{
    /* Style for "Rounded Re" */
    width: 207px;
    height: 58px;
    border-radius: 3px;
    background-color: #222d32;
    /* Style for "Valider" */
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    /* Text style for "Valider" */
    letter-spacing: 0.09px;
}

#iconshoppingcartsetting {
    /* Style for "shopping-c" */
    width: 81px;
    height: 71px;
}
#divinfo{
    margin-left: 50px;
    margin-right: 50px;
}
.verticalLine {
    border-left: solid #97c215;
    padding: 10px;
}
.modalpopup {
    position: absolute;
    z-index: 100;
    margin-top: 25%;
    margin-left: 40%;
    padding: 20px;
    background: white;
}
.modalpopup2 {
    position: absolute;
    z-index: 100;
    margin-top: 5%;
    margin-left: 25%;
    padding-bottom: 20px;
    background: white;
}
#titlepopup{
    font-size: 18px;
    font-weight: 700;
}