#loginbody{
    /* Style for "Rectangle" */
    width: 2063px;
    height: 750px;
    background-color: #ffffff;
}



#forgotpwd{
    /* Style for "Mot de pas" */
    width: 141px;
    height: 14px;
    color: #e35d5d;
    font-size: 13px;
    font-weight: 400;
    /* Text style for "Mot de pas" */
    letter-spacing: 0.07px;
    margin-top: 10px;

}
#btnlogin {
    /* Style for "Rounded Re" */
    width: 247px;
    height: 68px;
    border-radius: 3px;
    background-color: #222d32;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.1px;

}

.btntext{
    /* Style for "Connexion" */
    width: 122px;
    height: 16px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    /* Text style for "Connexion" */
    letter-spacing: 0.1px;
}
#btnregister{
    width: 249px;
    height: 68px;
    border-radius: 3px;
    background-color: #97c215;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
}
#hrlogin{
    /* Style for "Shape 1" */
    width: 825px;
    height: 1px;
    background-color: #d6d6d6;
}
#hrfooter{
    height: 1px;
    background-color: #d6d6d6;
}
#titleloginpage{
    /* Style for "Espace cli" */
    width: 400px;
    height: 23px;
    color: #1e282c;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    /* Text style for "Espace cli" */
    letter-spacing: 0.15px;
}
#icontitlelogin{
    /* Style for "login (2)" */
    width: 33px;
    height: 33px;
    margin-right: 10px;
    margin-bottom: 16px;
}
.login-box-body input{
    /* Style for "Rounded Re" */
    width: 100% ;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    background-color: #fdfdfd;

}

#callback{
    margin-right: 100px;
    margin-top: 50px;
}
#logincontainer{
    margin-top: 100px;
    margin-right: 100px
}
#copyright{
    /* Style for "Copyright" */
    height: 15px;
    color: #3f3f3f;
    font-size: 13px;
    font-weight: 400;
    /* Text style for "Copyright" */
    font-weight: 400;
    letter-spacing: 0.07px;

}
#distripub{
    /* Text style for "APPS Distr" */
    color: #222d32;
    font-weight: 700;
    letter-spacing: 0.07px;
}
#footercopyright{
    text-align: center ;
    margin-left :0px
}
#form{
    width:40%;
    margin-left:auto;
    margin-right: auto;
}
.required{
    color: red;
}

